* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 550px;
  height: 300px;
  margin: 190px auto;
  display: flex;
  flex-direction: row;
}
.column {
  width: 30%;
  height: 100%;
  padding: 3px 7px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}
.column > div {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.blue-color {
  background-color: #1afcfc;
}
.middle-color {
  background-color: #29d9c2;
}
.middle-color-low {
  background-color: #948a9d;
}
.after-middle-color {
  background-color: #ca638a;
}
.top-color {
  background-color: #ff3b77;
}

.animate-one {
  animation: first 0.8s infinite ease;
}

@keyframes first {
  0%,
  19.9% {
    box-shadow: 0 -37px 0 #29d9c2, 0 -74 0 #948a9d, 0 -111px 0 #ca638a,
      0 -120px 0 #ff3b77;
  }
  20%,
  39.9% {
    box-shadow: 0 -37px 0 #29d9c2, 0 -74px 0 #29d9c2, 0 -111px 0 #29d9c2;
  }
  40%,
  59.9% {
    box-shadow: 0 -30px 0 #29d9c2, 0 -74px 0 #29d9c2;
  }
  60%,
  79.9% {
    box-shadow: 0 -30px 0 #29d9c2;
  }
  80%,
  100% {
    box-shadow: none;
  }
}
