* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 550px;
  height: 300px;
  margin: 190px auto;
}
.column {
  width: 30%;
  height: 100%;
  display: inline-block;
  padding: 0px 7px;
}
.column > div {
  width: 100%;
  height: 30px;
  margin: 12px 0px;
  border-radius: 5px;
}

.blue-color {
  background-color: rgb(26, 252, 252);
}
.middle-color {
  background-color: #29d9c2;
}
.middle-color-low {
  background-color: #948a9d;
}
.after-middle-color {
  background-color: #ca638a;
}
.top-color {
  background-color: #ff3b77;
}
