* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  padding-top: 210px;
}

.column {
  width: 80px;
  display: inline-block;
  height: 300px;
  border-radius: 5px;
}

.animate-one {
  background-color: red;
  animation: first 0.8s infinite ease;
}
.animate-two {
  background-color: red;
  animation: two 0.8s 0.5s infinite ease;
}
.animate-three {
  background-color: red;
  animation: three 0.8s 1s infinite ease;
}
.animate-four {
  background-color: red;
  animation: four 0.8s 1.5s infinite ease;
}
@keyframes first {
  0% {
    height: 300px;
  }
  50% {
    height: 80px;
  }
  100% {
    height: 300px;
  }
}

@keyframes two {
  0% {
    height: 300px;
  }
  50% {
    height: 80px;
  }
  100% {
    height: 300px;
  }
}
@keyframes three {
  0% {
    height: 300px;
  }
  50% {
    height: 80px;
  }
  100% {
    height: 300px;
  }
}
@keyframes four {
  0% {
    height: 300px;
  }
  50% {
    height: 80px;
  }
  100% {
    height: 300px;
  }
}
