* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  padding-top: 210px;
}

.column {
  width: 50px;
  display: inline-block;
  height: 300px;
  border-radius: 3px;
}
.column-1 {
  width: 1px;
  display: inline-block;
  height: 300px;
  border-radius: 5px;
}

.animate-one {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s infinite ease;
}
.animate-two {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s 0.5s infinite ease;
}
.animate-three {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s 1s infinite ease;
}
.animate-four {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s 1.5s infinite ease;
}
.animate-five {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s 2s infinite ease;
}
.animate-six {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s 2.5s infinite ease;
}
.animate-seven {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s 3s infinite ease;
}
.animate-eight {
  background-image: linear-gradient(#43cea2, #185a9d);
  animation: first 0.8s 3.5s infinite ease;
}
@keyframes first {
  0% {
    height: 300px;
  }
  50% {
    height: 80px;
  }
  100% {
    height: 300px;
  }
}
