* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 550px;
  height: 300px;
  margin: 190px auto;
}
.column {
  width: 30%;
  height: 100%;
  background-color: red;
  display: inline-block;
  padding: 0px 20px;
}
.column > div {
  width: 100%;
  height: 50px;
  border: 3px solid black;
  margin: 8px 0px;
}
